.overlay {
    position: fixed;
    background-color: rgba(0 ,0 ,0 ,0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    z-index: 1000;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
}



.exit-thing {
    position: absolute;
    top:5px;
    right: 5px;

}

.cart-container {
    min-height: 500px;
    width: 75%;
    background-color: rgb(236, 232, 232);
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-radius: 8px;
    
   
}

.item {
    height: 100px;
    width:80%;
    display: flex;
    gap: 10px;
    margin: 10px 0 0 10px ;
}

.thumbnail-container {
    width: 80px;
    height: 80%;
}
.thumbnail {
    width: auto;
    height: auto;
}




