.overlay {
    position: fixed;
    background-color: rgba(0 ,0 ,0 ,0.6);
    display: flex;
    justify-content: center;
    align-items:center;
    z-index: 1000;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
}



.cart-container {
   
    width: 50%;
    height: auto;
    background-color: rgba(253, 252, 253, 0.3) ;
    position:relative ;
}

.items-container {
     
     display:flex;
     height: auto;
     flex-direction: column;
     height: auto;
     overflow-y: visible;
     background-color: aliceblue;
     gap:10px;
}

.item {
   
    
    
}
.exit-thing {

position: absolute;
    top: 5px;
    right: 15px;

    width: 20px;
    height: 20px;
    line-height: 18px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    z-index: 1;
    color: rgb(165, 42, 165);
    font-weight: bold;
    border: 1px solid brown;
    cursor: pointer;
    border-radius: 3px;
    
}

.exit-thing:hover {

    transform: translate(1px, -1px);
    background-color: rgb(255, 240, 241);

}