.overlay {
    position: fixed;
    background-color: rgba(0 ,0 ,0 ,0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    z-index: 1000;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
}



.exit-thing {
    position: absolute;
    top:5px;
    right: 5px;

}

.cart-container {
    min-height: 500px;
    width: 50%;
    background-color: rgb(236, 232, 232);
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-radius: 8px;
    
   
}
.cart-title {
    align-self: center;
    font-family: Sofia;
    

}

.checkout-summary-container {
    position: absolute;
    height: 70%;
    width:40%;
    top:50%;
    transform: translateY(-50%);
    right: 10px;
    margin-left: 20px;
    background-color: azure;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 4px rgba(0 ,0 ,0 ,0.4)

    

}

.checkout-summary-text-container {
    display: flex;
    flex-direction: column;
    
    height: 80%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: rgb(237, 241, 241);
    border-radius: 8px;
    font-family: Sofia;
     box-shadow: 2px 2px 2px 2px rgba(0 ,0 ,0 ,0.3)

}

.summary-title {
    align-self: center;
    font-family: Sofia;
    

}

.divider-line {
    border-width: 1px;
    border-style: solid;
    width: 90%;
    align-self: center;
    margin-top: auto;
    margin-bottom: 50px;
    
    
}

.checkout-button {
    position: absolute;
    right:50%;
    margin-top: 10px;
    width:60%;
    border-radius: 7px;
    transform: translateX(50%);
    background-color: rgb(33, 33, 209);
    color:aliceblue;
    font-family:Sofia;
    box-shadow: 2px 2px 2px 2px rgba(0 ,0 ,0 ,0.3)

  
}
.checkout-button:hover {
  background-color: rgb(54, 54, 235);

}


.item {
    height: 100px;
    width:80%;
    display: flex;
    gap: 10px;
    margin: 10px 0 0 10px ;
}

.thumbnail-container {
    width: 80px;
    height: 80%;
}
.thumbnail {
    width: auto;
    height: auto;
}






