

.contact-us-container {

    height: 500px;
    width: 100%;
    background-color:hsl(151, 30%, 94%); 
    border-radius: 8px 8px 8px 8px;
    box-shadow: 8px 8px 12px 12px rgb(0,0,0, 0.25);
    display: flex;
    overflow-x: hidden;
    
    
}

.input-container {
 display: flex;
 flex-direction: column;
 gap: 2em;
 flex:1;
 width:auto;
 margin-right: 40px;
 }

 .input-container input {
    width: 400px;
    margin-left: 1em;
 }

.image-container {
    flex:1;
    display: flex;
    width:50%;
    border-radius: 8px 8px 8px 8px;
    
  

   


}

.contact-us-img {

    width: auto;
    border-radius: 8px 8px 8px 8px;
}


.message-area {
    margin-left: 1em;


}

.contact-us-button {
    height: 2em;
    width: 6em;
    margin-left:1em;
    border-radius: 6px;
background-color: rgb(223, 248, 0);}

.contact-us-button:hover {

    transform: translate(1px, -1px);
    background-color: aqua;
}