

.contact-us-container {

    height: 500px;
    width: 100%;
    background-color:hsl(151, 30%, 94%); 
    border-radius: 8px;
    box-shadow: 8px 8px 12px 12px rgb(0,0,0, 0.25);
    display: flex;
    
}

.input-container {
 display: flex;
 flex-direction: column;
 gap: 2em;
 flex:1;
 position: relative
 }

 .input-container input {
    width: 400px;
    margin-left: 1em;
 }

.image-container {
    flex:1;
    display: flex;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;

   


}

.image-frame {
    
    grid-column: 2/5;
    grid-row: 2/5;
    
    


}

.image {
    
}

.message-area {
    margin-left: 1em;


}

.contact-us-button {
    height: 2em;
    width: 6em;
    margin-left:1em;
}