.enter-caption-container {
    height: 500px;
    width: 350px;
    position: relative;
   
}


.decription-text-area {

    
    width: 100%;
    height: 80%;
    border-radius: 10px;
    border-width:1px;
    box-shadow: 12px 12px 2px 1px rgb(0 0 255 / 0.2);
    
}



.admin-input-container {
    height:20% ;
    width:100%;
    display: flex;
    flex:auto;
    flex-wrap: wrap;
}

.admin-input-container input {

    width: 50%;
    border-radius: 6px;
}

.caption-submit-button {

    position: absolute;
    bottom: 10px;
    right: 5px;
    border-radius: 5px;
}