.enter-caption-container {
    height: 500px;
    width: 350px;
}


.decription-text-area {

    
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-width:1px;
    box-shadow: 12px 12px 2px 1px rgb(0 0 255 / 0.2);
    
}
