.listing-container {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   min-height: 200px;
   height: auto;
  overflow-y: visible; /* will change to scroll after overflow */
  background-color: whitesmoke;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  
  
  justify-content: space-between;
}



.listing {
  
  width: 350px;
  height: 500px;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  margin-bottom: 20px;

}


.listing-img {
  
  
   border-radius: 12px;
  height: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(0,0,0,0.08);

  width: 100%;
}

.caption-wrapper {
    position: relative;
    width: 100%;
  height: 50%;
   border-radius: 12px;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    
}

.listing-caption {
    font-family: Andale Mono, monospace;
    width: 100%;
  height: 100%;
   border-radius: 12px;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
   border: 1px solid rgba(0,0,0,0.08);
  
  
}

.listing-remove-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 2;
  transition: all 0.2s ease;
  box-shadow: 0 4px 12px rgba(177, 28, 28, 0.12);
 border-radius: 10px;
}

.listing-remove-button:hover {
    transform: translateY(1px);
  box-shadow: 0 12px 28px rgba(0,0,0,0.15);


}
 /* scrolling images banner styles */

 .scroll-container {
    height: 250px;
    width: 100%;
    display: flex;
    border: 2px solid red;
    margin: 50px 0 50px 0;
    
    overflow-x: auto;

     
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.group {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  gap: 1em;
   animation: spin 5s infinite linear;
}

.img-container {
  
  border-radius: 8px;
   height: 100%;
  flex-grow:1;
  padding-right:1em;
  align-items: center;
  justify-content: center;
  gap: 1em;
 
 
  
}
.scrolling-img {
  

  border-radius: 8px;
  height: 100%;
  
  width:100%;
  align-content: center;
}

@keyframes spin {
  from {
   translate: 0;
  }

  to {
     translate: -100%;
  }
}